<form (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput [(ngModel)]="loginData.email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput [(ngModel)]="loginData.password" name="password" type="password" required>
    </mat-form-field>
    <br />
    <button mat-raised-button type="submit">Ingresar</button>
    <br />
    <br />
    <button mat-raised-button color="primary" (click)="irARegistro()">Registrarse</button>
  </form>
  